<div data-role="view" id="tabstrip-loanapp-pi" data-model="app.loanAppPI.viewModel" data-show="app.loanAppPI.viewModel.show">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title">
                <div class="logo">
                    <img src="styles/images/bizDoc-logo.png">
                </div>
            </span>
			<a data-align="right" data-rel="popover" href="#popover-people" data-role="button" class="popup"></a>
        </div>
    </div>
    <div  data-role="content">
        <section>
            <form id="b2cApp3" class="cmxform" action="dashboard-application4.html" method="post" novalidate="novalidate">
                <article id="aplicn_tp">
                    <div class="warps clearfix">
                        <ul class="app_nav">
                            <li class="dn">
                                <a href="dashboard-application.html">
                                    <span>Contact Information</span>
                                </a>
                            </li>
                            <li class="dn">
                                <a href="dashboard-application2.html">
                                    <span>Business Information</span>
                                </a>
                            </li>
                            <li class="activ">
                                <span>Personal Information</span>
                            </li>
                            <li>
                                <span>Financing Preferences</span>
                            </li>
                        </ul>

                    </div>
                </article>

                <article id="aplicn_frm">
                    <div class="warps clearfix">
                        <div class="rws clearfix">
                            <div class="lftitb">Personal Information</div>
                            <div class="rwfil">
                                <p>
                                    <input type="text" name="per_income" data-bind="value:avg_month_income" class="IN3" id="per_income"  title="Average Monthly Income"  placeholder="Average Monthly Income" required />
                                </p>
                                <p>
                                    <input type="text" name="per_ome" class="IN3" id="per_ome" data-bind="value:avg_month_expense"  title="Average Monthly Expenses"  placeholder="Average Monthly Expenses" required />
                                </p>
                            </div>
                        </div>

                        <div class="rws clearfix" id="dynamicDiv">
                            <div class="lftitb">Personal Credit Score</div>
                        </div>
                        <input type="hidden" name="fid" id="fid" value="" class="b2cAppfid">
                        <input type="hidden" name="frmname" id="frmname" value="" class="classfrm">
                        <input type="hidden" name="type" id="type" value="">
                        <input type="hidden" name="cust_id" id="cust_id" value="">
                        <input type="hidden" name="personal_act" id="personal_act" value="">
                        <input type="hidden" name="owndivdts" id="owndivdts" value="">    
                    </div>
                </article>
                    
                <article id="aplicn_btm">
                    <div class="warps">
                        <div class="coln">
                            <input name="" type="submit" data-role="backbutton" value="Back" class="BTgry">
                            <input name="" type="submit" data-role="button" value="Save &amp; Exit" data-name="Save" data-bind ="click:loanAppPIpage" class="BTgry">
                            <input name="next" type="submit" data-role="button" data-bind ="click:loanAppPIpage" data-name="Next" id="next" value="Next"  class="BTgren">
                        </div>
                    </div>
                </article>
                    
            </form>
        </section>
    </div>
</div>
<script>
    
    function getCheckcscore(index , sel_value){
     if(sel_value==='Y'){
                  $('#crdscorerNo'+index).show();
                  $('#crdscorerYes'+index).hide();
                  $('#ifless'+index).removeClass('ifless');
                }
                else{
                   $('#crdscorerNo'+index).hide();
                   $('#crdscorerYes'+index).show();
                             //$('.ifless').show();
                             $('#ifless'+index).addClass('ifless');
                }
}
    function getCscore(index , sel_value){
                if(sel_value <659) {
                               $("#ifless"+index).show();
                               $('#ifless'+index).removeClass('ifless');

               } else {
                               $("#ifless"+index).hide();
                               $('#ifless'+index).addClass('ifless');
               }
}
function KnownCheckcscore(index , that){
    if ( that.checked) {
    	$('#crdscorerYes'+index).show();
    	$('#ifless'+index).addClass('ifless');
        viewCModel['cscoreknown'+index]='Yes';
    }
    else
    {
    	$('#crdscorerYes'+index).hide();
    	$('#ifless'+index).removeClass('ifless');
        viewCModel['cscoreknown'+index]='';
    }

} 
    
</script>