<div data-role="view" id="tabstrip-loanapp" class="home" data-model="app.loansetting.viewModel" data-show="app.loansetting.viewModel.show">
    <div data-role="header">
                <div data-role="navbar">
                    <span data-role="view-title">
                        <div class="logo"><img src="styles/images/bizDoc-logo.png"></div>
                    </span>
                    <a data-align="right" data-rel="popover" href="#popover-people" data-role="button" class="popup"></a>
                </div>
            </div>
    <div  data-role="content">
    </div>
</div>