<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.telerik.Biz2CreditApp.FtpClient"
    version="0.5.1">

    <name>Canvas 2 Image</name>

    <engines>
        <engine name="cordova" version=">=3.2.0" />
    </engines>

    <license>MIT</license>

    <js-module src="www/FtpClient.js" name="FtpClient">
        <clobbers target="window.ftpclient" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
       <config-file target="config.xml" parent="/*">
           <feature name="FtpClient">
               <param name="ios-package" value="FtpClient"/>
               <param name="onload" value="true" />
           </feature>
       </config-file>

       <header-file src="src/ios/FtpClient.h" />

       <source-file src="src/ios/FtpClient.m"
           compiler-flags="-fno-objc-arc" />

 <!-- FtpClient header files -->
<header-file src="src/ios/headers/BRGlobal.h" target-dir="FtpClient" /> 

<header-file src="src/ios/headers/BRRequest.h" target-dir="FtpClient" />
<source-file src="src/ios/headers/BRRequest.m" target-dir="FtpClient" />

<header-file src="src/ios/headers/BRRequest+_UserData.h" target-dir="FtpClient" />
<source-file src="src/ios/headers/BRRequest+_UserData.m" target-dir="FtpClient" />

<header-file src="src/ios/headers/BRRequestCreateDirectory.h" target-dir="FtpClient" />
<source-file src="src/ios/headers/BRRequestCreateDirectory.m" target-dir="FtpClient" />

<header-file src="src/ios/headers/BRRequestDelete.h" target-dir="FtpClient" />
<source-file src="src/ios/headers/BRRequestDelete.m" target-dir="FtpClient" />

<header-file src="src/ios/headers/BRRequestDownload.h" target-dir="FtpClient" />
<source-file src="src/ios/headers/BRRequestDownload.m" target-dir="FtpClient" />

<header-file src="src/ios/headers/BRRequestError.h" target-dir="FtpClient" />
<source-file src="src/ios/headers/BRRequestError.m" target-dir="FtpClient" />

<header-file src="src/ios/headers/BRRequestQueue.h" target-dir="FtpClient" />
<source-file src="src/ios/headers/BRRequestQueue.m" target-dir="FtpClient" />

<header-file src="src/ios/headers/BRRequestListDirectory.h" target-dir="FtpClient" />
<source-file src="src/ios/headers/BRRequestListDirectory.m" target-dir="FtpClient" />

<header-file src="src/ios/headers/BRRequestUpload.h" target-dir="FtpClient" />
<source-file src="src/ios/headers/BRRequestUpload.m" target-dir="FtpClient" />

<header-file src="src/ios/headers/BRStreamInfo.h" target-dir="FtpClient" />
<source-file src="src/ios/headers/BRStreamInfo.m" target-dir="FtpClient" />

     <framework src="CFNetwork.framework" weak="true" />
   </platform>

    <!-- android -->
    <platform name="android">
		
		<source-file src="src/android/Libs/ftp4j-1.7.2.jar" target-dir="Libs" />
		

    	<asset src="www/FtpClient.js" target="FtpClient.js" />

        <config-file target="AndroidManifest.xml" parent="/*">
        	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

        <!-- <activity android:name="com.telerik.Biz2CreditApp.FtpClient"
        android:label="@string/app_name">
        	<intent-filter>
        	</intent-filter>
        </activity> -->
        </config-file>

        <config-file target="config.xml" parent="widget/plugins">
        	<feature name="FtpClient">

        		<!--<plugin name="Canvas2ImagePlugin" value="com.telerik.Biz2CreditApp.Canvas2ImagePlugin" /> -->
        		<param name="android-package" value="com.telerik.Biz2CreditApp.FtpClient"/>
        	</feature> 
        </config-file>
      
 <source-file src="src/android/com/telerik/Biz2CreditApp/FtpClient.java" 
        target-dir="src/com/telerik/Biz2CreditApp" />
		


    </platform>
</plugin>
